/* acessa o elemento root e cria variaveis globais */
:root { 
    --primaria: #915f32;
    --secuntaria: #ce9056;
    --terciaria: ;
    --quartenaria: #e1e6eb;
    --branco: white;
    --preto: black;
}

/* acessa todos os elementos 
remove todas as margens 
remove todos os paddings
calcula automaticamante a larguras considerando: conteudo,bordas
margens e paddigns*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

/* seleciona o header E FOOTER 
    coloca a cor de fundo 
    e um espaçamento interno */

header {
    background-color: var(--primaria);
    padding: 1rem;
}

/* seleciona o nav
coloca cor de fundo
muda o display para grid
cria uma grade em 5 colunas de largura igual
alinha o texto no centro da coluna
espaço entre as colunas e linhas do grid */
nav {
    background-color: var(--secuntaria);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 0.25rem;
    gap: 0.5rem;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

/* seleciona todos os links dentro de navs
remove a decoraçâo dos links
muda a cor da letra
e a exibição do ponteiro do mouse para uma mâo */
nav a {
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;
}

/* qualquer item com essa class
muda o display para flex
coloca o espaco vazio da horizontal no meio dos elementos
alinha o itens na vertical com base no seu centro */
.logo-busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alinhar {
    display: flex;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex-grow: 1;
    background-color: var(--quartenaria);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    left: 4rem;

}




    

.titulo{ text-align: center;
    position: relative;
    top: 1REM;
}

.borda_login {
    border: solid black 0.1rem;
    border-radius: 4rem;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--primaria);
    border-radius: 5rem;
    width: 22rem;
    height: 30rem;
    text-align: center;
    font-size: 1rem;
    background-color: var(--secuntaria);
    font-family: Arial, Helvetica, sans-serif;
    

}
    .cadastrado{
        text-align: right 1rem;
    position: relative;
    top: 9rem;
    font-family: Arial, Helvetica, sans-serif;


}
   #perfil,#senha,#name,#email{
    text-align: left;
    position: relative;
    left: 1rem;
   
}

label {
    display: block;
    margin-bottom: 8px;
}
input[type="file"] ,input[type="text"], input[type="email"] , input[type="password"]{

    position: relative;
    left: 1rem;
    width:18rem;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
    button{
    font-size: 1.5rem;
    position: relative;
        align-content: center;
    top: 1.5rem;
    width: 10rem;
    background-color: var(--primaria);
}

/* Estilos para a seção Esqueceu_senha */
.Esqueceu_senha {
    text-align: center;
    position: relative;
    top:5rem;

}

.alinha_icon {
    text-align: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width:900px){
    
    nav {
        background-color: var(--secuntaria);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        padding: 0.25rem;
        gap: 0.5rem;
        font-family: "Special Elite", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }  
    .borda_login {
        border: solid rgb(7, 7, 7) 0.1rem;
        border-radius: 2rem;
        position: relative;
        top: 17rem;
        background-color: var(--primaria);
        border-radius: 3rem;
        width: 18rem;
        height: 30rem;
        text-align: center;
        font-size: 1rem;
        background-color: var(--secuntaria);
        font-family: Arial, Helvetica, sans-serif;
    }  
   input[type="file"] ,input[type="text"], input[type="email"] , input[type="password"]
    {
        position: relative;
      left: 0.4rem;
        width:15rem;
        padding: 10px 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
        button{
        font-size: 1rem;
        position: relative;
            align-content: center;
        top:0.8rem;
        width: 10rem;
        background-color: var(--primaria);
    }
}



  





.rede_social {
    position: relative;
    left: 1rem;
}

#copy {
    text-align: start;
}