
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTANTE WEB</title>
    <link rel="stylesheet" href="../css/contato.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>
            <form action="">
            <input type="search" name="busca" id="busca">
        </form>
        </div>
     
    </header>
     <nav>
<a href="../index.html">inicio</a>
<a href="./QUEM SOMOS.HTML"> Quem Somos</a>
<a href="./CONTATO.HTML">Contato</a>
<a href="./FAVORITOS.HTM" class="alinhar"> <img src="../img/grade_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="30px" height="30px">favoritos</a>
<a href="./LOGIN.HTML">login</a>
        </nav>

    <MAIN id="index">
<div class="ICONE_insta">
    <a href="https://www.instagram.com/accounts/login/" target="_blank">
        <img src="../img/instagram.svg" alt="" width="75PX" height="75PX">  
    </div>
        </a>

        <a href="https://www.instagram.com/accounts/login/"target="_blank">
        <h2>@estante_web</h2>
        </a>
<div class="icon_facebook">
        <a href="https://www.facebook.com/?locale=pt_BR"target="_blank">
             <img src="../img/facebook.svg" alt="" width="75px" height="75PX">
        </div>
    </A>
        <a href="https://www.facebook.com/?locale=pt_BR" target="_blank">
        <h2>@estante_web</h2>
         </a>

        </div>

<DIV class="TELEFONE">
            <a href=""><img src="../img/call_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="" width="75px" height="75px">
            </a>
                </div>

       <a> <h2>(98)3200-0032</h2>
        </a>


    </MAIN>
    <footer>

    </footer>
    
</body>
</html>