
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTANTE WEB</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>
            <form action="">
            <input type="search" name="busca" id="busca">
        </form>
        </div>
     
    </header>
     <nav>
<a href="../index.html">inicio</a>
<a href="./QUEM SOMOS.HTML"> Quem Somos</a>
<a href="./CONTATO.HTML">Contato</a>
<a href="./FAVORITOS.HTM" class="alinhar"> <img src="../img/grade_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="30px" height="30px">favoritos</a>
<a href="./LOGIN.HTML">login</a>
        </nav>

    <MAIN id="index">
        <div class="borda_login">
            <div class="titulo">
                <h1>Acesse sua conta</h1>
                <br> <br>
            </div>
            
            <div>
                
                <form action="">
                    <div class="email">
                        <label for="email" class="email">E-mail:</label>
                        <input type="email" id="email" name="email" required>
            </div>
            <br> <br>
            <div class="senha">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>

            <div>
                <button>ENTRA</button>
                
            </div>
            
            <div class="Esqueceu_senha">
                <a href="">Esqueceu sua senha ?</a>
               <div class="cadastrado">
         <h3>Ainda não é cadastrado ?</h3>

         <a href="">Crie sua conta</a>
        </div>   
            </div>
      

    </MAIN>
    <footer>

    </footer>
    
</body>
</html>