<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTANTE WEB</title>
    <link rel="stylesheet" href="../css/QUEM_SOMOS.CSS">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>
            <form action="">
            <input type="search" name="busca" id="busca">
        </form>
        </div>
     
    </header>
     <nav>
<a href="../index.html">inicio</a>
<a href="./QUEM SOMOS.HTML"> Quem Somos</a>
<a href="./CONTATO.HTML">Contato</a>
<a href="./FAVORITOS.HTM" class="alinhar"> <img src='../img/star_24dp_FILL0_wght400_GRAD0_opsz24 (1).png' alt=""width="30px" height="30px">Favorito</a>
<a href="./LOGIN.HTML">login</a>
     </nav>
    <MAIN class="index">
       <div class="titulo">
<h1>Quem somos</h1>
       </div>
       <div class="texto">
<h4>Olá caros amigos, é um prazer enorme ter vocês conosco. Nesse<br> 
    momento queremos apresentar esse projeto que está sendo <br> 
    desenvolvido pelos alunos da turma 52 do Curso de Programador <br> Web Noturno no Senac do ano de 2024 com a supervisão do Professor <br>
    Luis Fellipe. </h4>
       </div>
    <div class="icon">
   <h4>Desenvolvido por
   <img src="../img/icons8-dev-64.png" alt="" idth="30px" height="30px">
   </h4>
        </div>
    </MAIN> 
    
    <footer>
<div id="copy">
    &copy;Estante web
</div>
<div>
    todos os direitos reservados
</div>
<div class="rede_social">
    <a>img src="../img/instagram.svg" alt="" width="30px"</a>
    height="30">
    <img src="../img/facebook.svg" alt="" width="30px" height="30">
</div>
    </footer>

</body>
</html>